.quotes {
    font-size: 20px; /* Set font size */
    color: rgb(233, 24, 205);     /* Set text color */
    font-weight: bold; /* Make text bold */
}

.container {
	display: flex;
	flex-direction: column;
	width: 500px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
	border-top: 5px solid #29a58c;
	border-bottom: 5px solid #009578;
}

    .date-input {
        font-size: 140%; /* Increase size by 160% */
        color: red;     /* Change color to red */
        font-weight: bold; /* Make text bold */
    }

.todo {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.todo__value {
	background: transparent;
	border: none;
	outline: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	flex-grow: 1;
}

.todo:has(.todo__checkbox:checked) {
	color: #e71010;
	background: #0fcc18;
	text-decoration: line-through;
	order: 1;
}

